body{

margin: 30px;

background-image:url('assets/background_whiteside.png');
background-size:cover;
/* font-family:"STIX Two Text", serif; */
  font-family: "IM Fell English SC", serif;

position:relative;

}

/* LEFT PANEL */

.sidebar{

width:260px;
height:100vh;

background-color:rgba(255,255,255,0.25);

padding: 40px;

display:flex;
flex-direction:column;

}

/* SECTIONS */

.section{

margin-bottom:60px;

}

/* LABEL TEXT */

.label{

font-size:16px;
font-weight: 900;

letter-spacing:6px;
text-transform:uppercase;

margin:0 0 10px 0;

color:#646383;

}

/* INFO TEXT */

.info{

font-size:16px;
font-weight: 0;

letter-spacing:3px;

margin:0;

color:#646383;

}

/* CURSIVE NAME GRAPHIC */

.lucasvgraphic{

position:absolute;

top:55%;
left:60%;

transform:translate(-50%, -50%);

width:1200px;

opacity:0.9;

pointer-events:none;



}